body{
   background-color: #d6edd4;
   font-family: "Poppins", sans-serif;
   margin: 0;
   padding: 0;
}
a { text-decoration: none; }


.svgclass{
animation-name: camelion;  
animation-duration: 4s;
margin-top:20px;
width: 400px;
flex-wrap: nowrap;
  height: 100px;

}


@keyframes camelion {
0%   {  opacity: 0;}
25%  { opacity: 0,25;}
50%  { opacity: 0,5;}
75%  { opacity: 0,75;}
100%  { opacity: 1;}


}

.nav{

  display: flex;
  width: 30%;
  height: 200px;
  justify-content: space-around;
}

.headerelement{
  display: flex;
  width: 25%;
  height: 100px;
  justify-content: center;
  padding-top: 50px;
}

.headerclass{
  display: flex;
  width: 100%;
  height: 180px;

}

.contentclass{
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: flex-end;
  margin-top: 15px;
  animation-name: camelion2;
  animation-duration: 4s;

}

@keyframes camelion2 {
    0%   {  opacity: 0;}
   25%  { opacity: 0,25;}
   50%  { opacity: 0,5;}
   75%  { opacity: 0,75;}
  100%  { opacity: 1;}
}

    /*Footer*/
    footer{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #282D32;
}

footer .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: #282D32;
}

footer h4{
    font-size: 14px;
    color: white;
    padding-bottom: 20px;
    background-color: #282D32;
}

footer p{
    font-size: 13px;
    color: #A0A7AD;
    margin-bottom: 8px;
    background-color: #282D32;
}

footer a{
    font-size: 13px;
    color: #A0A7AD;
    margin-bottom: 10px;
    background-color: #282D32;
}

footer a:hover{
    text-decoration: underline;
}

footer .follow{
    margin-top: 20px;
    background-color: #282D32;
}

footer .follow i{
    padding-right: 5px;
    color: #465b52;
    cursor: pointer;
    background-color: #282D32;
}

footer img{
    height: 110px;
    background-color: #E2E2E2;

}

footer .copyright{
    width: 100%;
    text-align: center;
    background-color: #282D32;
}


.signupin{
display: flex;
width: 15%;
height: 200px;
justify-content:  space-evenly;
margin-left: 200px;
background-color: red;
}

.signupinelement{
width: 100px;
height: 30px;
padding-top: 50px;
 
}


.buttonregister{
border-radius: 30px; 
background-color: #00B0FF;
font-family: "Poppins", sans-serif;
border-style: inset;
width: 100px;


}